div.button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    background-color:transparent;
}

span.blooper{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius:50%;
    display:block;
    margin:auto;
    position:relative;
    top:400px;
}

span.line{
	border: 1px solid black;
	width: 20px;
	height: 0px;
	position:relative;
  top:400px;
	display:block;
  margin:auto;
	left: 40px;
  animation-name: ripple;
  animation-duration: 4s;
}

@keyframes ripple {
    from:{
        width: 50px;
        height: 50px;
    }
    to:{
        width:150px;
        height:150px;
    }
}